.about-our-work {
  background: #aaa;
  background-size: cover;
  background-position: center;
  background-image: url('/assets/images/headers/homepage_2.jpg');
  padding-top: $spacing-unit * 18;
  padding-bottom: $spacing-unit * 36;
  margin-bottom: $spacing-unit * 10;
  
  header {
    margin-bottom: $spacing-unit * 4;
  }
  
  h2 {
    color: #FFFFFF;
    font-family: 'mreavesxlsanot-heavy';
    font-size: 81px;
    line-height: 79px;
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.30);
  }
  
  p {
    display: block;
    color: #FFFFFF;
    font-size: 41px;
    line-height: 57px;
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.30);
  }
  
  @include respond-to-max(900px) {
    h2 {
      font-size: 61px;
      line-height: 59px;
    }
    
    p {
      font-size: 31px;
      line-height: 47px;
    }
  }
}
