.call-to-action {
  padding-top: $spacing-unit * 10;
  border-top: 4px solid #FAF9F9;
  
  header {
    margin-bottom: $spacing-unit * 2;
  }
  
  h2 {
    display: block;
    color: #393234;
    font-family: 'mreavesxlsanot-heavy';
    font-size: 64px;
    line-height: 79px;
  }
  
  p {
    display: block;
    color: #7A686D;
    font-size: 41px;
    line-height: 52px;
  }
  
  a {
    color: #7A686D;
    word-wrap: break-word;
  }
  
  @include respond-to-max(900px) {
    
    h2 {
      font-size: 44px;
      line-height: 59px;
    }
    
    p {
      font-size: 31px;
      line-height: 42px;
    }
  }
}
