.clients {
  margin-bottom: $spacing-unit * 10;
  
  header {
    margin-bottom: $spacing-unit * 10;
  }
  
  h2 {
    display: block;
    color: #393234;
    font-family: 'mreavesxlsanot-heavy';
    font-size: 64px;
    line-height: 79px;
  }  
  
  .client-logo-grid {
    
    ol {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: $spacing-unit * 3;
      grid-row-gap: $spacing-unit * 10;
    }
    
    li {
      @include flexbox(flex, row, wrap, center, center);
      text-align: center;
      transition: opacity .3s;
      
      img {
        max-width: 195px;
        height: auto;
      }
    }
    
    li:hover {
      opacity: 0.6;
    }
  }
  
  @include respond-to-max(900px) {
    
    h2 {
      font-size: 44px;
      line-height: 59px;
    }
    
    .client-logo-grid {
      
      ol {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
  
  @include respond-to-max(768px) {
    
    .client-logo-grid {
      
      ol {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
