footer {
  padding-top: 120px;
  padding-bottom: 120px;
  
  .wrapper {
    @include flexbox();
  }
  
  .logo {
    opacity: 0.5;
    color: #493B3F;
    font-family: 'mreavesxlsanot-ultraitalic';
    font-size: 26px;
  }
  
  .social-media {
    @include flexbox();
    margin-left: auto;
  }
  
  .social-media li {
    margin-left: $spacing-unit * 2;
    
    a {
      display: block;
      width: $spacing-unit * 5;
      height: $spacing-unit * 5;
      font-size: 0;
      background-image: url('/assets/images/icons/sprite.svg');
      background-size: 100px 500px;
      background-repeat: no-repeat;
    }
    
    .facebook {
      background-position: center -135px;
      
      &:hover {
        background-position: center -235px;
      }
    }
    
    .instagram {
      background-position: center -335px;
      
      &:hover {
        background-position: center -435px;
      }
    }
  }
  
  @include respond-to-max(700px) {
    .wrapper {
      display: block;
    }
    
    .social-media {
      margin-top: $spacing-unit * 4;
      margin-left: 0;
    }
    
    .social-media li {
      margin-right: $spacing-unit * 2;
      margin-left: 0;
    }
  }
}
