.introduction {
  margin-bottom: $spacing-unit * 10;
  
  header {
    margin-bottom: $spacing-unit * 4;
  }
  
  h2, p {
    display: block;
    color: #7A686D;
    font-size: 41px;
    line-height: 57px;
  }
  
  strong {
    font-family: 'mreavesxlsanot-bolditalic';
  }
  
  a {
    display: inline-block;
    color: $color-primary;
    font-size: 41px;
    line-height: 33px;
    font-family: 'mreavesxlsanot-ultraitalic';
  }
  
  .arrow {
    background-image: url('/assets/images/icons/sprite.svg');
    background-size: 100px 500px;
    background-repeat: no-repeat;
    color: rgba(0,0,0,.0);
    background-position: center -24px;
    padding-left: $spacing-unit;
  }
  
  
  @include respond-to-max(900px) {
    
    h2 {
      font-size: 31px;
      line-height: 47px;
    }
    
    a {
      font-size: 31px;
      line-height: 37px;
    }
    
    .arrow {
      background-position: center -30px;
    }
  }
}
