.introduction {
  margin-bottom: $spacing-unit * 10;
  
  header {
    margin-bottom: $spacing-unit * 4;
  }
  
  h2 {
    display: block;
    color: #7A686D;
    font-size: 41px;
    line-height: 57px;
  }
  
  a {
    display: inline-block;
    color: $color-primary;
    font-size: 41px;
    line-height: 33px;
    font-family: 'mreavesxlsanot-ultraitalic';
  }
  
  
  @include respond-to-max(900px) {
    
    h2 {
      font-size: 31px;
      line-height: 47px;
    }
    
    a {
      font-size: 31px;
      line-height: 37px;
    }
  }
}
