.masthead {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: $spacing-unit * 5;
  
  .wrapper {
    @include flexbox(flex, row, wrap, flex-start, center);
  }
  
  .logo { 
    font-size: 26px;
    font-family: 'mreavesxlsanot-ultraitalic';
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
  }
  
  .logo img {
    height:90px;
    
    &:hover {
      fill: $color-primary;
    }
  }
  
  #our-work & {
    z-index: 2;
  }
  
  @include respond-to-max(340px) {
    
    .logo {
      font-size: 21px;
    }
  }
}
