#navigation {
  @include flexbox();
  margin-left: auto;
  
  a {
    color: #fff;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
  }

  nav {
    margin-left: auto;
  }
  
  ul {
    @include flexbox();
  }
  
  li {
    font-family: 'mreavesxlsanot-bold';
    font-size: 17px;
    line-height: 25px;
    margin-right: $spacing-unit * 3;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  li.selected a {
    color: $color-primary;
    background: #fff;
    border-radius: 4px;
    padding: {
      top: $spacing-unit * 2 - 4;
      right: $spacing-unit * 2;
      bottom: $spacing-unit * 2 - 3;
      left: $spacing-unit * 2;
    }
    text-shadow: none;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12);
    
    &:hover {
      text-decoration: none;
    }
  }
  
  #hamburger {
    display: none;
  }
  
  #our-work & {
  
    a {
      color: $color-copy;
      text-shadow: none;
    }
    
    li.selected a {
      color: $color-primary;
    }
  }
}

@include respond-to-max(768px) {
  
  #navigation {
    
    ul {
      display: none;
    }
    
    #hamburger {
      @include flexbox(flex, row, wrap, flex-start, center);
      position: relative;
      z-index: 9999;
      width: 24px;
      height: 18px;
      font-size: 0;
      
      span,
      &:before,
      &:after {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: all .3s;
      }
      
      &:before,
      &:after {
        position: absolute;
        content: '';
      }
      
      &:before {
        top: 0;
      }
      
      &:after {
        bottom: 0;
      }
      
      #our-work & {
        span,
        &:before,
        &:after {
          background: #222;
        }
      }
    }
  }
  
  #navigation.is-active {
    
    a {
      color: #fff;
    }
    
    ul {
      position: fixed;
      z-index: 9999;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      text-align: center;
      padding-top: $spacing-unit * 14;
      background: rgba(0,0,0,.9);
    }
    
    li {
      font-size: 27px;
      line-height: 38px;
      margin-bottom: $spacing-unit * 3;
      margin-right: 0;
    }
    
    #hamburger {
      
      span {
        display: none;
      }
      
      &:before,
      &:after {
        background: #fff;
      }
      
      &:before {
        top: ($spacing-unit + 2);
        transform: rotate(45deg);
      }
      
      
      &:after {
        transform: rotate(-45deg);
        bottom: ($spacing-unit + 2);
      }
      
      #our-work & {
        
        span,
        &:before,
        &:after {
          background: #fff;
        }
      }
    }
    
    #our-work & {
      
      a {
        color: #fff;
      }
    }
  }
}
