.navigation {
  @include flexbox();
  margin-left: auto;
  
  a {
    color: #fff;
  }

  nav {
    margin-left: auto;
  }
  
  ul {
    @include flexbox();
  }
  
  li {
    font-family: 'mreavesxlsanot-heavy';
    font-size: 17px;
    line-height: 25px;
    margin-right: $spacing-unit * 3;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  .our-work & {
  
    a {
      color: $color-copy;
    }
  }
}
