#our-work {
  
  .our-work-slider {
    margin-bottom: $spacing-unit * 10;
    
    .slide {
      width: 100vw;
      height: calc(100vw / 16 * 9);
    }
    
    video {
      width: 100vw;
      height: calc(100vw / 16 * 9);
    }
  }
}
