.our-work {
  
  .our-work-slider {
    margin-bottom: $spacing-unit * 10;
    
    .slide {
      width: 100vw;
      height: calc(100vw / 16 * 9);
    }
    
    video {
      width: 100vw;
      height: calc(100vw / 16 * 9);
    }
    
    img {
      
    }
    
    // TEMP
    > div {
      width: 100vw;
      height: calc(100vw / 16 * 9);
      background: #FF0000;
    }
    
    > div:nth-child(2) {
      background: #00FF00;
    }
    
    > div:nth-child(3) {
      background: #0000FF;
    }
  }
}
