.page-header {
  width: 100%;
  background: #aaa;
  background-size: cover;
  background-position: center;
  padding: {
    top: $spacing-unit * 37;
    bottom: $spacing-unit * 35;
  }
  margin-bottom: $spacing-unit * 10;
  
  h1 {
    color: #fff;
    font-size: 81px;
    line-height: 91px;
    font-family: 'mreavesxlsanot-heavy';
  }
  
  p {
    color: #fff;
    font-size: 26px;
    line-height: 33px;
    margin-top: $spacing-unit * 4;
  }
  
  #home & {
    background-image: url('/assets/images/headers/homepage_1.jpg');
  }
  
  #services & {
    background-image: url('/assets/images/headers/services_1.jpg');
  }
  
  #our-work & {
    background: #fff;
    padding: {
      top: $spacing-unit * 22;
      bottom: 0;
    }
    
    h1, p {
      color: $color-copy;
    }
    
    p {
      color: #7A686D;
      font-size: 41px;
      line-height: 57px;
    }
  }
  
  #about-us & {
    background-image: url('/assets/images/headers/about_us_1.jpg');
  }
  
  #contact & {
    background-image: url('/assets/images/headers/contact_1.jpg');
  }
  
  @include respond-to-max(900px) {
    
    h1 {
      font-size: 61px;
      line-height: 71px;
    }
    
    #our-work & {
      
      p {
        font-size: 26px;
        line-height: 33px;
      }
    }
  }
}
