.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $spacing-unit * 6;
  grid-row-gap: $spacing-unit * 12;
  margin-bottom: $spacing-unit * 10;
  
  .single-service {
    
    header {
      margin-bottom: $spacing-unit * 4;
    }
    
    h2 {
      display: block;
      color: #393234;
      font-family: 'mreavesxlsanot-bold';
      font-size: 33px;
      line-height: 43px;
    }  
  }
}
