//
// Custom Tiny Slider styling
// ==================================
//
.tns-outer {
  position: relative;
}

.tns-ovh {
  height: 600px;
}

.tns-controls {
  @include wrapper(100%, 1100px);
  @include flexbox(flex, row, wrap, center, center);
  position: absolute;
  z-index: 999;
  height: 69px;
  top: 50%;
  left: 50%;
  margin-top: -34.5px;
  transform: translateX(-50%);
  
  button {
    position: absolute;
    width: 39px;
    height: 69px;
    font-size: 0;
    outline: none;
    border: none;
    background-repeat: no-repeat;
  }
  
  button[data-controls="prev"] {
    left: $spacing-unit * 4;
    background: url('/assets/images/arrow-left.svg');
  }
  
  button[data-controls="next"] {
    right: $spacing-unit * 4;
    background: url('/assets/images/arrow-right.svg');
  }
}

.tns-nav {
  display: none;
}
