//
// Body
// ==================================
//
body {
  color: $color-copy;
  font-weight: 400;
  font-family: 'mreavesxlsanot-reg';
  font-size: $font-size-copy;
  line-height: $line-height-copy;
  background: #fff;
  
  &.has-overlay {
    height: 100vh;
    overflow: hidden;
  }
}

//
// Anchors
// ==================================
//
a {
  color: $color-copy;
  text-decoration: none;
  transition: color .3s;
  
  &:hover {
    text-decoration: underline;
  }
}
