/*
 * Emigre web font kit RAScPVtrVg8cXZMV+YwyFg==
 * 
 * These fonts are not shareware. 
 * Use of these fonts requires the purchase 
 * of a license from Emigre, www.emigre.com  
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/
 *
 * © 2019 Emigre, Inc
 */

 @font-face {
   font-family: 'mreavesxlsanot-reg';
   src: url('/assets/fonts/mreavesxlsanot-reg-webfont.eot');
   src: url('/assets/fonts/mreavesxlsanot-reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/mreavesxlsanot-reg-webfont.woff2') format('woff2'),
        url('/assets/fonts/mreavesxlsanot-reg-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'mreavesxlsanot-regitalic';
   src: url('/assets/fonts/mreavesxlsanot-regitalic-webfont.eot');
   src: url('/assets/fonts/mreavesxlsanot-regitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/mreavesxlsanot-regitalic-webfont.woff2') format('woff2'),
        url('/assets/fonts/mreavesxlsanot-regitalic-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
 }

@font-face {
  font-family: 'mreavesxlsanot-bold';
  src: url('/assets/fonts/mreavesxlsanot-bold-webfont.eot');
  src: url('/assets/fonts/mreavesxlsanot-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/mreavesxlsanot-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/mreavesxlsanot-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mreavesxlsanot-bolditalic';
  src: url('/assets/fonts/mreavesxlsanot-bolditalic-webfont.eot');
  src: url('/assets/fonts/mreavesxlsanot-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/mreavesxlsanot-bolditalic-webfont.woff2') format('woff2'),
       url('/assets/fonts/mreavesxlsanot-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mreavesxlsanot-heavy';
  src: url('/assets/fonts/mreavesxlsanot-heavy-webfont.eot');
  src: url('/assets/fonts/mreavesxlsanot-heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/mreavesxlsanot-heavy-webfont.woff2') format('woff2'),
       url('/assets/fonts/mreavesxlsanot-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mreavesxlsanot-heavyitalic';
  src: url('/assets/fonts/mreavesxlsanot-heavyitalic-webfont.eot');
  src: url('/assets/fonts/mreavesxlsanot-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/mreavesxlsanot-heavyitalic-webfont.woff2') format('woff2'),
       url('/assets/fonts/mreavesxlsanot-heavyitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mreavesxlsanot-ultra';
  src: url('/assets/fonts/mreavesxlsanot-ultra-webfont.eot');
  src: url('/assets/fonts/mreavesxlsanot-ultra-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/mreavesxlsanot-ultra-webfont.woff2') format('woff2'),
       url('/assets/fonts/mreavesxlsanot-ultra-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mreavesxlsanot-ultraitalic';
  src: url('/assets/fonts/mreavesxlsanot-ultraitalic-webfont.eot');
  src: url('/assets/fonts/mreavesxlsanot-ultraitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/mreavesxlsanot-ultraitalic-webfont.woff2') format('woff2'),
       url('/assets/fonts/mreavesxlsanot-ultraitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
