//
// Spacing units
// ==================================
//
$spacing-unit:     6px;

//
// Typography
// ==================================
//
$font-size-copy:   17px;
$line-height-copy: 25px;

//
// Colors
// ==================================
//
$color-copy:       #393234;
$color-primary:    #063734;
