.wrapper {
  @include wrapper(100%, 1100px);
  padding: {
    right: $spacing-unit * 4;
    left: $spacing-unit * 4;
  }
  
  @media only screen and (max-device-width: 1024px) and (orientation: landscape) {
    padding: {
      right: $spacing-unit * 8;
      left: $spacing-unit * 8;
    }
  }
}
