<header class="masthead">
  <div class="wrapper">
    <div class="logo">
      <img src="/assets/images/logos/FLM_logo.svg"  
type="image/svg+xml"/> 
    </div>
    <nav id="navigation" role="navigation">
      <ul>
        {% assign mypages = site.pages | sort: "menu_order" %}
        {% for menupage in mypages %}
          {% if page.path == menupage.path %}
            {% assign selected = "selected" %}
          {% elsif page.layout == "blog" and menupage.path == "blog" %}
            {% assign selected = "selected" %}
          {% endif %}
          <li class="{{ selected }}"><a href="/{{ menupage.path }}">{{ menupage.title }}</a></li>
          {% assign selected = "" %}
        {% endfor %}
      </ul>
      <a href="#navigation" id="hamburger" aria-label="Navigatie" aria-expanded="false">
        <span aria-hidden="true">Navigatie</span>
      </a>
    </nav>
  </div>
</header>