<!DOCTYPE html>
<html lang="nl">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169326951-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-169326951-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="description" content="Finger Licking Media heeft de kennis en de juiste ingrediënten om jouw verhaal goed te laten smaken.">
    
    <link rel="stylesheet" href='/assets/stylesheets/application.css'>
  </head>
  <body id="{{ page.name | replace: '.html' }}">
    {% include header.html %}

    <main>
      <section class="content">
        {{ content }}
      </section>
    </main>
    
    {% include footer.html %}
  </body>
</html>